<?xml version="1.0"?>
<ArrayOfMenuDefAttribute xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MenuDefAttribute>
    <Name>決策支援圖台</Name>
    <MenuPath>災情決策</MenuPath>
    <Index>1</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>None</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>RtHydro</Target>
    <ActionController>RtHydro</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>RtHydro</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>災情決策</Name>
    <MenuPath />
    <Index>1</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Icon>~/images/menu/menu_system.png</Icon>
    <Func>ALL</Func>
    <IsOnlyPath>true</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>災情決策</Target>
    <ActionController>PrjPath</ActionController>
    <ExportCSV>false</ExportCSV>
    <Id>災情決策</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>角色管理</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>1</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>Role</Target>
    <ActionController>Role</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>Role</Id>
  </MenuDefAttribute>
  <MenuDefAttribute xsi:type="HtmlIFrameMenuDefAttribute">
    <Name>EMIS</Name>
    <MenuPath>災情決策</MenuPath>
    <Index>3</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>None</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>true</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>Mss</Target>
    <ActionController>MSS</ActionController>
    <Action>IFrame</Action>
    <ExportCSV>false</ExportCSV>
    <Id>Mss</Id>
    <Url>https://newemis.moenv.gov.tw/Home/Login</Url>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>記錄查詢</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>4</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>None</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>Logger</Target>
    <ActionController>Logger</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>Logger</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>歷史空間資料</Name>
    <MenuPath>災情決策</MenuPath>
    <Index>5</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>None</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>HisSpatial</Target>
    <ActionController>HisSpatial</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>HisSpatial</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>倉儲管理</Name>
    <MenuPath />
    <Index>5</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Icon>~/images/menu/menu_data.png</Icon>
    <Func>None</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>StorageManage</Target>
    <ActionController>StorageManage</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>StorageManage</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>使用者管理</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>2147483547</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>User</Target>
    <ActionController>User</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>User</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>系統管理</Name>
    <MenuPath />
    <Index>2147483647</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Icon>~/images/menu/menu_admin.png</Icon>
    <Func>ALL</Func>
    <IsOnlyPath>true</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>系統管理</Target>
    <ActionController>ManagerPath</ActionController>
    <ExportCSV>false</ExportCSV>
    <Id>系統管理</Id>
  </MenuDefAttribute>
</ArrayOfMenuDefAttribute>