@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "dou_options")

<table id="_table"></table>

<script>
    $(document).ready(function () {


        $("#_table").DouEditableTable(dou_options);

        //刪除環保局災害應變聯繫窗口
        $('.filter-toolbar-plus').find('[data-fn="CityID"] option[value="24"]').remove();
    });





</script>
