body {
}
#main-ctrl{
    height:100%;
}
#main-ctrl > div{
    height:100%;
}
#main-ctrl > div .tab-content {
    height:calc( 100% - 32px );
    /*border:2px red solid;*/
}
#main-ctrl > div .tab-content > .tab-pane{
    height:100%;
    overflow:auto;
}
#main-ctrl > div .tab-content > .tab-pane > .fsta-c{
    height:100%;
    /*background-color:lightgray;*/
}
#main-ctrl .pinctrl, #main-ctrl .pinctrl > * {
    padding: 0 !important;
}
#main-ctrl .pinctrl >*:not(.jsPanel) {
    margin-top:.75rem;
}
#main-ctrl .pinctrl>.jsPanel{
    margin-top:-.4rem;
}
#main-ctrl .pinctrl>.jsPanel >.jsPanel-hdr{
    min-height:auto;
    color:darkblue;
}
#main-ctrl .filter-container, #main-ctrl .filter-container > div, #main-ctrl .jsPanel-content {
    padding: 0 !important;
}

#main-ctrl .jsPanel-hdr .jsPanel-hdr-toolbar>*:not(.meter-list-count){
    display:none;
}
#main-ctrl .pin-list-container tr{
    background-color:transparent !important;
}
#main-ctrl .rain_normal {
    color: blue;
    color: #0000ff;
}
.rain_normal, .googleContentFix .rain_normal {
    background-color: #0000ff;
    fill: #0000ff;
    color: white;
}
#main-ctrl .rain_heavy {
    color: yellowgreen;
    color:#007e39;
}
.rain_heavy, .googleContentFix .rain_heavy {
    background-color: #007e39;
    fill: #007e39;
    color: white;
}
#main-ctrl .rain_extremely {
    color: #9ACD32;
    color:#954001;
}
.rain_extremely, .googleContentFix .rain_extremely {
    background-color: #954001;
    fill: #954001;
    color: white;
}
#main-ctrl .rain_torrential {
    color: orange;
    color:#c00000;
}
.rain_torrential, .googleContentFix .rain_torrential {
    background-color: #c00000;
    fill: #c00000;
    color: white;
}
#main-ctrl .rain_exttorrential {
    color: red;
    color:#9d1b94;
}
.rain_exttorrential, .googleContentFix .rain_exttorrential {
    background-color: #9d1b94;
    fill: #9d1b94;
    color: white;
}
#main-ctrl .rain_nodata {
    color: gray;
    color:#000000;
}
.rain_nodata, .googleContentFix .rain_nodata {
    background-color: #000000;
    fill: #000000;
    color: white;
}
#main-ctrl .green_status {
    color: green;
}
#main-ctrl .red_status {
    color: red;
}
#main-ctrl .orange_status {
    color: orange;
}
#main-ctrl .yellow_status {
    /*color: #9ACD32;*/
    color: #FF6600;
}
#main-ctrl .blue_status {
    color: blue;
}
#main-ctrl .gray_status {
    color: gray;
}
#main-ctrl .meter .legend {
    margin-left:0;
}
#main-ctrl .bootstrap-table .fixed-table-container .table thead th .sortable {
    padding-right: 16px !important;
}
.fsta-c{
    display:flex;
    flex-direction:column;
}
.fsta-c > .sta-c {
    height: auto;
    /*border: 1px black solid;*/
    padding: .4rem;
    border-radius: .4rem;
}
/*.fsta-c > .sta-c-title{
    height:1.5rem;
}*/
.fsta-c > .sta-c
{
    /*height: calc( ( 100% - 2rem ) / 4 );*/
    height: calc( 100% / 3 );
    margin-bottom:.3rem;
    display:flex;
}
 .fsta-c > .sta-c > div{
     width:auto;
 }
.fsta-c > .sta-c > .total{
    flex:5;
}
.fsta-c > .sta-c > .legend{
    flex:1;
}
.fsta-c > .sta-c > .status-name{
    flex:3;
}
.fsta-c > .sta-c > .count{
    flex:1;
    text-align:end;
    padding-right:.3rem;
}
.fsta-c > .r-sta-c {
    background-color: #ffe699;
}
.fsta-c > .w-sta-c {
    background-color: #00b0f0;
}
.fsta-c > .f-sta-c {
    background-color: #a9d18e;
}
.fsta-c > .d-sta-c {
    background-color: #f4b183;
}
.fsta-c > .sta-c{
    cursor:pointer;
}
.fsta-c > .sta-c > *{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.fsta-c > .sta-c > * > *{
    height:4.5vh;
    /*padding:3px 1px;*/
    margin-bottom:5px;
    font-size:2.5vh;
    font-weight:bold;
    color:darkblue;
}
.fsta-c > .sta-c > .legend > img{
    width:4.5vh;
}
.fsta-c > .sta-c > .status-name > *, .fsta-c > .sta-c > .count > * {
    padding-top: .9vh;
}
.fsta-c > .sta-c > .total{
    align-items:center;
}
.fsta-c > .sta-c > .total .title {
    height: 4vh;
    font-size: 3.2vh;
    color: white;
    font-weight: 600;
    padding-top: 2vh;
    text-shadow: .5px .5px 2px darkblue, -0.5px -0.5px 2px darkblue;
}
.fsta-c > .sta-c > .total .t-count {
    flex: auto;
    font-size: 9vh;
    color: white;
    text-decoration: underline;
    display: flex;
    align-items: center;
    font-weight: 200;
    text-shadow: 1px 1px 4px darkblue, -1px -1px 4px darkblue;
}
.near-cb{
    border:1px #eee solid;
    position:absolute;
    right:.5rem;
    margin-top:-0px;
}

.jsPanel-content.source-ctrl {
    padding: 0 !important;
}


.jsPanel-hdr.epa_status, .epa_status:not(tr) {
    background-color: #37679B;
    color: white;
}

.jsPanel-hdr.cleaningteam_status, .cleaningteam_status:not(tr) {
    background-color: #0F8618;
    color: white;
}

.jsPanel-hdr.opencontract_status, .opencontract_status:not(tr) {
    background-color: #002060;
    color: white;
}

.jsPanel-hdr.landfill_InOperation_status, .landfill_InOperation_status {
    background-color: #a56942;
    color: #a56942;
}
.jsPanel-hdr.landfill_margin_status, .landfill_margin_status {
    background-color: #5ed1a0;
    color: #5ed1a0;
}
.jsPanel-hdr.landfill_nomargin_status, .landfill_nomargin_status {
    background-color: #b5b5b6;
    color: #b5b5b6;
}

.jsPanel-hdr.incineration_PuPu_status, .incineration_PuPu_status {
    background-color: #4f4030;
    color: #4f4030;
}

.jsPanel-hdr.incineration_PuPr_status, .incineration_PuPr_status {
    background-color: #997258;
    color: #997258;
}

.jsPanel-hdr.incineration_PrPr_status, .incineration_PrPr_status {
    background-color: #c69a6a;
    color: #c69a6a;
}

.leaflet-infowindow-title.infowindow-title-white {
    color: white;
}
.source-ctrl .jsPanel-hdr, .source-ctrl .jsPanel-hdr-r-btn-close > .glyphicon-remove::before {
    color: white;
}
.source-ctrl tr {
    background-color: transparent !important;
}
/*開口合約*/
.contract-info-tab .bootstrap-table tr > th > .th-inner, .contract-info-tab .bootstrap-table tr > td {
    padding: .3rem .1rem !important;
}

.contract-info-tab .nav-link {
    border-top: calc(var(--bs-nav-tabs-border-width) * -1);
    margin-top: calc(var(--bs-nav-tabs-border-width) * -1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: var(--bs-nav-tabs-border-radius) !important;
    border-bottom-right-radius: var(--bs-nav-tabs-border-radius) !important;
}
.contract-info-tab .nav-link.active {
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
.contract-info-tab .nav-tabs {
    border-top: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    border-bottom:none;
    margin:.3rem 0 !important;
}
.infowindow-cwb-typh .googleContentFix{
    white-space:normal !important;
}
