body {
    --color-use1: #008000;
    --color-use2: #843c0c;
    --color-use3: #2e75b6;
    --color-use4: #7f7f7f;
}
/*.display-container .sta-count > .data-container {
    padding: 0.2rem 3rem;
    text-align: center;
}*/
.display-container .sta-count > .data-container {
    padding: 0.2rem 1.5rem;
    text-align: center;
}
.left-container .sta-count .use-1{
    background-color:var(--color-use1);
    color:white;
}
.left-container .sta-count .use-2 {
    background-color: var(--color-use2);
    color: white;
}
.left-container .sta-count .use-3 {
    background-color: var(--color-use3);
    color: white;
}
.left-container .sta-count .use-4 {
    background-color: var(--color-use4);
    color: white;
}
.left-container .sta-county .use-1 {
    color: var(--color-use1);
}

.left-container .sta-county .use-2 {
    color: var(--color-use2);
}

.left-container .sta-county .use-3 {
    color: var(--color-use3);
}

.left-container .sta-county .use-4 {
    color: var(--color-use4);
}
.display-container .sta-county .county-data .data {
    justify-content: space-around;
}
