body {
    --left-container-width: 66.6%;
    --right-container-width: 33.3%;
}
.sta-count .w-20{
    width:20%;
}
body {
    --color-use1: #008000;
    --color-use2: #c00000;
    --color-use3: #843c0c;
    --color-use4: #0000ff;
    --color-use5: #7f7f7f;
}
.body-content > ul {
    display: flex;
}

.ctrlTabContent {
    height: calc( 100% - 50px ) !important;
}

.display-container .sta-count > .data-container {
    padding: 0.2rem 1.5rem;
    text-align: center;
}

.left-container .sta-count .use-1 {
    background-color: var(--color-use1);
    color: white;
}

.left-container .sta-count .use-2 {
    background-color: var(--color-use2);
    color: white;
}

.left-container .sta-count .use-3 {
    background-color: var(--color-use3);
    color: white;
}

.left-container .sta-count .use-4 {
    background-color: var(--color-use4);
    color: white;
}
.left-container .sta-count .use-5 {
    background-color: var(--color-use5);
    color: white;
}
.left-container .sta-county .use-1 {
    color: var(--color-use1);
}

.left-container .sta-county .use-2 {
    color: var(--color-use2);
}

.left-container .sta-county .use-3 {
    color: var(--color-use3);
}

.left-container .sta-county .use-4 {
    color: var(--color-use4);
}
.left-container .sta-county .use-5 {
    color: var(--color-use5);
}
.display-container .sta-county .county-data > .btn .data {
    padding-top:.2rem;
    font-size: calc( 0.9rem + .1vw ) ;
    line-height: 1.2;
    width:100%;
    justify-content:space-around;
}
.display-container > .zoom-max .sta-county .county-data > .btn {
    font-size: calc( 1rem + .4vw ) !important;
}
.display-container > .zoom-max .sta-county .county-data > .btn .data {
    font-size: calc( 1rem + .375vw );
    line-height:.9;
}

/*依狀態*/
.display-container .sta-count.state {
    background-color: white;
    /*width:28%;
    height:30%;
    position:absolute;*/
    width: 25%;
    height: 100%;
    /*bottom: 1rem;
    right: 1rem;*/
    border-right: 1px solid #dee2e6;
    position: relative;
}
.display-container .sta-county.state{
    width:70%;
}
.display-container .sta-count.state > div:not(.btn) {
    width: 100%;
    height: 100%;
}
.display-container .sta-count.state > .btn {
    padding-top:1rem;
    margin-right:-.2rem;
}

.display-container .sta-county.state .county-data {
    position: relative;
}
.display-container .sta-county.state .county-data {
    width: 14.2%;
    height:16vh;
}
.display-container .sta-county.state .county-data > *:not(.zoom-ctrl){
    height:100%;
}
.display-container .sta-county.state .county-data > .btn.zoom-ctrl {
    top:0;
    opacity:.1;
    padding: 0.125rem .125rem;
}
.display-container .sta-county.state .county-data > .btn.zoom-ctrl:hover {
    opacity: 1;
}
.display-container .sta-county.state .county-data .highcharts-title{
    font-size:2vh !important;
}
.display-container .sta-count.state .highcharts-title {
    font-size: 3vh !important;
}
.display-container .sta-county.state .county-data.zoom-max .highcharts-title, .display-container .sta-count.zoom-max .highcharts-title {
    font-size: 6vh !important;
}
.display-container .sta-count.state .highcharts-data-label tspan{
    font-size: 1.8vh;
}
.display-container .sta-county.state .county-data.zoom-max .highcharts-data-label tspan,.display-container .sta-count.state.zoom-max .highcharts-data-label tspan {
    font-size: 3vh;
}
    @media (max-width: 1680px) {
        body {
            --left-container-width: 60%;
            --right-container-width: 40%;
        }
    }

    @media (max-width: 1200px) {
        #tab1-pane-content.display-container.active {
            display: block;
        }

        #tab1-pane-content.display-container > .part-container {
            width: 100%;
            height: auto !important;
        }

        #tab1-pane-content .zoom-ctrl {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        .display-container .sta-county .county-data {
            width: 25%;
        }
        #tab2-pane-content .sta-count.state, #tab2-pane-content .sta-county{
            /*display:block;*/
            width:100%;
            height:auto;
        }
         
        .display-container .sta-county.state .county-data {
            width: 25%;
            /*height: 30vh;
            padding:1rem;*/
        }
    }

@media (max-width: 768px) {
    .display-container .sta-county .county-data {
        width: 33.3%;
    }

    .display-container .sta-county.state .county-data {
        width: 33%;
    }
}

    @media (max-width: 576px) {
        .display-container .sta-county .county-data {
            width: 50%;
            font-size: calc( 1rem + .2vw ) !important;
        }

            .display-container .sta-county .county-data .data {
                font-size: calc( 1rem + .2vw ) !important;
            }
        .display-container .sta-county.state .county-data {
            width: 50%;
        }
    }