body {
    --color-use: #008000;
    --color-notuse: #2f5597;
    --color-t: #3b3838;
    --left-container-width: 50%;
    --right-container-width: 50%;
}
body > hr, body >footer{
    display:none;
}
.body-content {
    height: calc( 100% - var(--dou-menu-height) -.2rem) !important;
    height:100% !important;
   
}
.body-content > ul{
    display:none;
}
.ctrlTabContent {
    height: calc( 100% - 50px ) !important;
    height: 100% !important; /*已隱藏ul*/
    overflow: auto;
    
}

.display-container {
    width: 100%;
    height:100%;
}
.display-container.active {
    display: flex;
    height:100%;
}
.left-container{
    width:var(--left-container-width);
}
.right-container{
    width:var(--right-container-width)
}
.display-container > .part-container{
    /*width:50%;*/
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}
.display-container .sta{
    display:flex;
    flex-wrap:wrap;
    font-weight:bold;
}
.display-container .sta-count {
    /*height:20%;*/
    /*padding:.5rem 3rem;*/
    font-size: calc( 1rem + .4vh );
    line-height: 1.2;
    padding: .5rem 0rem;
    color: white;
}
.display-container .sta-count > .data-container {
    padding: .2rem 3rem;
    text-align:center;
}
.display-container .sta-count > .data-container > div {
    padding: .2rem 0rem;
    /*text-align: center;*/
}
.display-container .sta-count > .data-container > div{
    border-radius:.4rem;
}
.display-container .sta-count .use-div {
    background-color: var(--color-use);
}
.display-container .sta-count .notuse-div {
    background-color: var(--color-notuse);
}
.display-container .sta-count .t-div {
    background-color: var(--color-t);
    color: white;
}
.display-container .sta-county {
    overflow: auto;
    flex-grow: 1;
    padding: .4rem 1rem;
}
.display-container .sta-county .county-title {
    width: 100%;
    border-bottom: .2rem solid #dee2e6;
    height: calc( 1.8rem + .2vh );
    font-size: calc( 1rem + .2vh );
}
.display-container .sta-county .county-title > label {
    background-color: #dee2e6;
    color: #46465c;
    padding: .1rem .4rem;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}
.display-container .sta-county .county-data{
    padding:.125rem .125rem;
    width:20%;
    /*margin-bottom:.5rem;*/
}
.display-container .sta-county .county-data > .btn {
    border: .1rem solid #eee;
    border-radius: .3rem;
    text-align:center;
    line-height: 1.5;
    padding:0.125rem 0;
    font-size:calc( 1rem + .2vw ) !important;
    box-shadow:1px 1px 4px #aaa;
    /*display:block;*/
    font-weight:bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display-container .sta-county .county-data > .btn , .display-container .sta-county .county-data * {
    cursor: pointer;
}
.display-container .sta-county .county-data .data {
    line-height: 1;
    display:flex;
    flex-wrap:nowrap;
    width:100%;
    justify-content:center;
}

.display-container .sta-county .county-data .label {
    font-size: calc( 1rem + .25vh );
}
.display-container .sta-county .county-data .label:not(.title) {
    font-size: calc( 1rem + .1vh );
}
.display-container .sta-county .county-data .use {
    color: var(--color-use);
}
.display-container .sta-county .county-data  .notuse{
    color:var(--color-notuse);
}
.display-container .sta-county .county-data  .t{
    display:block;
    color:var(--color-t);
}
.display-container .sta-county .county-data .t:before {
    content:'總 ';
}
/*right*/
.right-container {
    border-left: 1px solid #dee2e6;
    padding: .3rem;
}
.table-container {
    /*height: 60%;*/
    /*background-color:gray;*/
    overflow: auto;
}
.dou-bootstrap-table .fixed-table-toolbar .form-select{
    display:initial;
    width:auto;
}
.dou-bootstrap-table .fixed-table-toolbar .table-count {
    float: right;
    margin-top: 1.5rem;
    margin-right: 1rem;
}
.chart-container {
    border-top: 1px solid #ccc;
    padding:.2rem;
}
.zoom-max {
    position: fixed !important;
    left: 0 !important;
    top: var(--dou-menu-height) !important;
    width: 100% !important;
    height: calc( 100% - var(--dou-menu-height) ) !important;
    z-index: 999 !important;
    background-color:white;
}
#chart-count{
    width:100%;
    height:100%;
}
#chart-count .highcharts-data-label > text {
    color: rgb(0, 0, 0) !important;
    fill: rgb(0, 0, 0) !important;
    font-size:1rem !important;
    /*text-anchor: middle; >>要show非使用中才需要
    transform: translateX(0.5rem);*/
}
#chart-count .highcharts-data-label > text > .highcharts-text-outline {
    fill: rgb(255, 255, 255) !important;
    stroke: rgb(255, 255, 255) !important;
}
.zoom-ctrl {
    position: absolute;
    top: .5rem;
    right: .2rem;
    opacity:.3;
}
.zoom-ctrl:hover{
    opacity:1
}
.left-container, .chart-container, .table-container{
    position:relative;

}
.display-container > .zoom-max .sta-county .county-data > .btn {
    font-size: calc( 1rem + .75vw ) !important;
}
.display-container > .zoom-max .sta-county .county-data > .btn .data {
    font-size: calc( 1rem + .5vw );
}

@media (max-width: 1024px) {
    .display-container.active {
        display: block;
    }

    .display-container > .part-container {
        width: 100%;
        height:auto !important;
    }

    .zoom-ctrl {
        display: none;
    }
}
@media (max-width: 768px) {
    .display-container .sta-count {
        font-size: 1rem !important;
    }

    .display-container .sta-count > .data-container {
        padding: 0.2rem .5rem !important;
    }
}
@media (max-width: 576px) {
    .display-container .sta-count > .data-container {
        padding: 2px 1px !important;
    }
    .display-container .sta-county .county-data {
        width: 33.3%;
    }
}

